{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Alta de Alumnos{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/alta_alumno.css' %}">
{% endblock %}

{% block main %}
    <h2>Alta de Nuevo Alumno</h2>
    <form method="POST" action="{% url 'alta_alumno' %}">
        {% csrf_token %}
        
        <!-- como etiquetas p -->
        <!-- {{ alta_alumno_form.as_p }} -->

        {{ alta_alumno_form.as_p }}
        <input type="submit">
        <!-- puedo pedir los inputs asi tambien  -->
        <!-- {{ alta_alumno_form.nombre }} -->
    </form>

{% endblock %}
