{% extends "web/base.html" %}
{% load static %}

{% block titulo %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/index.css' %}">
{% endblock %}

{% block main %}
    <h2>Bienvenid@ {{ nombre }}</h2>
    
    <p>fecha: {{ fecha_hora }}</p>    

    <img src="{% static 'web/img/perrito.jpg' %}" alt="La foto de un perrito">
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual 2.0</title>
</head>
<body>
    <h1>Aula Virtual 2.0</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Index</a></li>
            <li><a href="{% url 'lista_alumnos' %}">Listado de Alumnos</a></li>
        </ul>
    </nav>
    <p>Bienvenid@ {{ nombre }}</p>

    <footer>
        
    </footer>
</body>
</html> -->