* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer{
    padding: 15px;
}

header{
    background-color: gray;
}

main{
    flex: 1;
}

footer{
    background-color: rgb(48, 48, 48);
}